  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<nav class="w3-bar backround">
	  <a href="index.php"><img src="../../assets/logo.png" width="10%"></a>
	  <p></p>
      <a href="./index.php" class="w3-button w3-bar-item">Home</a>
      <a href="./about-us.php" class="w3-button w3-bar-item">Info</a>
      <a href="./logon.php" class="w3-button w3-bar-item">Logon</a>
      <a href="./contact.php" class="w3-button w3-bar-item">Contact</a>
	  <a href="./signup.php" class="w3-button w3-bar-item">Signup</a>
    </nav>